
<launch>
  <arg name="depth_registration" default="true" />

  <!--
  <param name="robot_description" textfile="$(find qbo_laser_slam)/urdf/qbo.urdf"/>
  -->

  <include file="$(find openni2_launch)/launch/openni2.launch"/>	 

  <group>
    <node pkg="gmapping" type="slam_gmapping" name="gmapping">
       <remap from="scan" to="scan_reduced"/>
       <param name="map_update_interval" value="2.0"/>
       <param name="maxUrange" value="6.0"/>
       <param name="sigma" value="0.05"/>
       <param name="kernelSize" value="1"/>
       <param name="lstep" value="0.05"/>
       <param name="astep" value="0.05"/>
       <param name="iterations" value="5"/>
       <param name="lsigma" value="0.075"/>
       <param name="ogain" value="3.0"/>
       <param name="lskip" value="0"/>
       <param name="srr" value="0.01"/>
       <param name="srt" value="0.02"/>
       <param name="str" value="0.01"/>
       <param name="stt" value="0.02"/>
       <param name="linearUpdate" value="0.5"/>
       <param name="angularUpdate" value="0.436"/>
       <param name="temporalUpdate" value="-1.0"/>
       <param name="resampleThreshold" value="0.5"/>
       <param name="particles" value="50"/>
       <param name="xmin" value="-50.0"/>
       <param name="ymin" value="-50.0"/>
       <param name="xmax" value="50.0"/>
       <param name="ymax" value="50.0"/>
       <param name="delta" value="0.05"/>
       <param name="llsamplerange" value="0.01"/>
       <param name="llsamplestep" value="0.01"/>
       <param name="lasamplerange" value="0.005"/>
       <param name="lasamplestep" value="0.005"/>
     </node>
  </group>

  <group>
     <node name="cloud_to_laserscan" pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan">
        <remap from="/camera/depth/points" to="cloud_in" />
        <param name="target_frame" type="str" value="base_link"/>
	<param name="min_height" type="double" value="0.04"/>	        
	<param name="range_min" type="double" value="0.1"/>			 
     </node>
  </group>

  <!--	
    <include file="$(find qbo_joypad)/launch/joypad.launch"/>
  -->
</launch>

